@media (max-width: 480px) {
  .hero-section h1 {
    font-size: 2rem;
  }
}







@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 3rem;
  }

  .content-section {
    padding: 50px 20px;
  }
  .nav-links {
    display: none;
  }
  .hamburger {
    display: block;
  }
}


